*
  margin: 0
  padding: 0


body
  font-family: 'Lato', sans-serif


.center 
  padding: 0 calc(50% - 570px)


a 
  text-decoration: none


.header 
  height: 100px
  background-color: #ffffff
  border: 1px solid #ececec
  box-shadow: 0 0 10px 0 #ececec
  display: flex
  justify-content: space-between
  align-items: center


.header__left,
.header__right,
.header__form 
  display: flex
  align-items: center

.logo 
  display: flex
  align-items: center
  margin-right: 37px
  font-size: 27px
  line-height: 32px
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.025em
  color: #222222
  &__d
    font-weight: 900
    color: #f16d7f
.header__right
  flex-direction: row-reverse
  .button
    font-size: 13px
    color: #fff
    text-align: right
    letter-spacing: 0.03em
    background-color: #f16d7f
    padding: 12px 16px
    border: 1px solid #f16d7f
    border-radius: 3px
    transition: transform 1s
    &:hover
      background-color: #fff
      color: #f16d7f
      transform: scale(1.1)
      & + .header__cart
        transform: rotate(360deg)
  .header__cart
    margin-right: 26px
    transition: transform 1s





.browse 
  width: 87px
  height: 38px
  border-radius: 3px 0 0 3px
  border: 1px solid #e6e6e6
  background-color: #cdcdcc
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
  display: flex
  justify-content: center
  align-items: center
  color: #222222
  font-size: 14px
  font-weight: 400
  line-height: 32px
  /* Text style for "B, rowse" */
  letter-spacing: 0.35px


.inputsearch 
  width: 317px
  height: 38px
  border-radius: 0 3px 3px 0
  border: 1px solid #e6e6e6
  background-color: #ffffff
  font-size: 14px
  line-height: 32px
  font-weight: 300
  letter-spacing: 0.025em
  color: #a4a4a4
  padding-left: 12px


.search1 
  position: relative
  left: 12px
  top: 10px


.bordsearch 
  position: relative
  right: 38px
  height: 38px
  width: 36px
  background-color: white
  border-left: solid 1px #e8e8e8
  border-right: none
  border-bottom: none
  border-top: none


.logo__img 
  margin-right: 13px


.menu
  list-style-type: none
  display: flex
  justify-content: center
  &__link
    padding: 20px
    display: block
    color: #222222
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    transition: transform 1s
    &:hover
      color: gainsboro
      transform: scale(1.1)
  &__list
    border-bottom: solid 3px white
    &:hover
      border-bottom: solid 3px #ef5b70

.brc  
  height: 148px
  background-color: #f8f3f4
  display: flex
  align-items: center
  justify-content: space-between
  &__h3
    color: #f16d7f
    font-size: 24px
    font-weight: 700
    line-height: 20px
    text-transform: uppercase
  &__link
    font-size: 14px
    font-weight: normal
    color: #636363
    text-align: center
    line-height: 20px
    text-transform: uppercase
    &:not(:last-child):after
      content: "/"
      display: inline-block
      margin-left: 10px
      margin-right: 10px
    &:hover
      color: #f16d7f
    &_active
      color: #f16d7f
      font-weight: bold
.head
  width: 1140px
  height: 529px
  text-align: center
  border-collapse: collapse
  &__1position
    text-align: start
    color: #222222
    font-size: 13px
    font-weight: 900
    line-height: 20px
    text-transform: uppercase
    letter-spacing: -0.2px
    &__blokmango
      margin-left: 121px
      margin-top: 13px
      &__mangotext
        color: #222222
        font-size: 13px
        font-weight: 800
        text-transform: uppercase
    &__blokname
      margin-top: 20px
      margin-left: 121px
      &__colortext
        color: #575757
        font-size: 13px
        font-weight: 900
        line-height: 20px
        &__after
          color: #6f6e6e
          font-size: 13px
          font-weight: 700
          line-height: 20px
    &__blokphoto
      float: left
  &__tabl
    align: left
    color: #222222
    font-size: 13px
    font-weight: 900
    line-height: 20px
    text-transform: uppercase
    letter-spacing: -0.2px
  &__line
    border-bottom: 1px solid #eaeaea /* поправить цвет */
    border-top: 1px solid #eaeaea
    color: #656565
    font-size: 13px
    font-weight: 700
    line-height: 20px
    cursor: pointer
    &__border
      display: flex
      justify-content: center
      align-items: center
      &__inbor
        width: 54px
        height: 30px
        border: 1px solid #eaeaea
        background-color: #ffffff
        display: flex
        justify-content: center
        align-items: center
        text-align: center
.xline:hover
  color: #f16d7f

  &__last
    width: 10%







.afterbord
  display: flex
  justify-content: space-between
  &__shopping
    width: 235px
    height: 50px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #4a4a4a
    font-size: 14px
    font-weight: 800
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    margin-top: 44px
    &:hover
      border: 1px solid #f16d7f
      background-color: #fff
      color: #f16d7f


.blokidown
  padding-top: 63px
  display: flex
  justify-content: space-between
  &__blok1
    width: 355px
    height: 268px
  &__h3
    color: #222222
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
  &__blok__input
    width: 355px
    height: 45px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #b1b1b1
    font-size: 13px
    font-weight: 300
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 18px
    margin-top: 21px
  &__blok__button
    width: 100px
    height: 35px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #4a4a4a
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    margin-top: 23px
    &:hover
      border: 1px solid #f16d7f
      background-color: #fff
      color: #f16d7f
.blokicentr__blok2
  width: 355px
  height: 184px
  &__h3
    color: #222222
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
  &__text
    color: #000000
    font-size: 14px
    font-weight: 300
    margin-top: 28px
  &__input
    width: 355px
    height: 45px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #b1b1b1
    font-size: 13px
    font-weight: 300
    display: flex
    align-items: center
    padding-left: 17px
    margin-top: 24px
  &__button
    width: 118px
    height: 35px
    border: 1px solid #eaeaea
    background-color: #ffffff
    color: #4a4a4a
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25px
    &:hover
      border: 1px solid #f16d7f
      background-color: #fff
      color: #f16d7f

.blokilast__blok3
  width: 360px
  height: 214px
  background-color: #f5f3f3
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  &__textbox
    width: 166px
    height: 142px
    &__transform
      color: #4a4a4a
      font-size: 11px
      font-weight: 400
      text-transform: uppercase
      align-self: flex-end
      padding-right: 41px
      &__price
        padding-left: 10px
    &__transform1
      color: #222222
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      align-self: flex-end
      padding-right: 41px
    &__transform2
      color: #f16d7f
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      padding-left: 10px
  &__bordrbox
    width: 275px
    height: 1px
    background-color: #e2e2e2
  &__buttom
    width: 273px
    height: 50px
    background-color: #f16d7f
    border: 1px solid #f16d7f
    color: #ffffff
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    &:hover
      border: 1px solid #f16d7f
      background-color: #fff
      color: #f16d7f











.seapic
  margin-top: 97px
  height: 438px
  background-image: url(img/sea.png)
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.allserfcontent
  display: flex
  justify-content: space-between

.surfleft
  padding-top: 111px


.rightserf
  padding-top: 130px

.serfcont
  padding-left: 110px


.photo1girl
  width: 83px
  height: 83px
  float: left


.textsea
  color: #222224
  font-size: 16px
  font-style: italic
  line-height: 26px
  /* Text style for "“, Vestibu" */
  letter-spacing: 0.4px
  width: 386px


.sername
  width: 82px
  height: 27px
  color: #f16d7f
  font-size: 16px
  font-weight: 800
  line-height: 26px

.dhaka
  color: #222224
  font-size: 13px
  font-weight: 300
  letter-spacing: 0.3px
  line-height: 14px

.blocksername
  padding-top: 19px

.bordd
  width: 38px
  height: 4px
  background-color: #d6d6d6
  display: inline-block
  margin-right: 13px
  margin-top: 45px

.bordd:hover
  background-color: #f16d7f

.bord11:hover
  background-color: #f16d7f

.bord22:hover
  background-color: #f16d7f


.bord11
  width: 38px
  height: 4px
  background-color: #d6d6d6
  display: inline-block
  margin-top: 45px
  margin-right: 13px

.bord22
  width: 38px
  height: 4px
  background-color: #d6d6d6
  display: inline-block
  margin-top: 45px



.forour
  letter-spacing: 0.35px
  line-height: 24px
  color: #222224
  font-size: 14px
  font-weight: 600
  padding-left: 70px

.subscribe
  color: #222224
  font-weight: 600
  /* Text style for "Subscribe" */
  font-size: 24px
  letter-spacing: 0.6px
  line-height: 54px
  text-transform: uppercase
  padding-left: 146px


.buttom4
  padding-top: 34px

.footercontent
  height: 458px
  background-color: white
  background-position: center

.footer__left
  display: flex
  align-items: flex-start
  padding-top: 123px
  flex-direction: column
  float: left

.logo1
  display: flex
  align-items: center
  margin-right: 3px
  font-size: 27px
  line-height: 32px
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.025em
  color: #3e3e40
  &__d
    font-weight: 900
    color: #f16d7f


.logo__img1
  margin-right: 13px

.textfoot
  color: #898989
  font-size: 14px
  font-weight: 300
  line-height: 24px
  /* Text style for "Objectivel" */
  letter-spacing: 0.35px
  width: 427px
  margin-top: 41px

.footerright
  display: flex
  padding-top: 123px
  justify-content: space-around

.company
  list-style-type: none

.licompany
  color: #898989
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.4px
  line-height: 45px

.listfooter:hover
  color: darkgray

.information
  list-style-type: none

.liinformation
  color: #898989
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.4px
  line-height: 45px

.shopcategory
  list-style-type: none

.menucategory,
.menucategory2,
.menucategory3
  color: #f16d7f
  font-size: 18px
  font-weight: 700
  line-height: 26px
  text-transform: uppercase
  /* Text style for "I, NFORMAT" */
  letter-spacing: 0.45px

.listfooter
  color: #898989
  font-size: 16px
  font-weight: 400
  /* Text style for "Tearms & C" */
  letter-spacing: 0.4px
  text-transform: capitalize

.lishopcategory
  color: #898989
  font-size: 16px
  font-weight: 400
  letter-spacing: 0.4px
  line-height: 45px

.footer
  height: 79px
  background-color: #e6e6e6
  display: flex
  align-items: center
  justify-content: space-between
  &__text
    font-size: 16px
    line-height: 42px
    font-weight: 400
    letter-spacing: 0.025em
    color: #7a7a7a

.social
  list-style-type: none

.sociallpic
  width: 32px
  height: 32px
  background-color: #ffffff


.lisocial
  float: left
  margin-right: 8px

.buttom4
  padding-top: 34px

.subs
  border-radius: 0 23px 23px 0
  background-color: #f16d7f
  color: #ffffff
  position: relative
  right: 40px
  padding: 12px 16px
  text-align: center
  border: 1px solid #f16d7f
  top: 2px

.subs:hover
  border: 1px solid #f16d7f
  background-color: #fff
  color: #f16d7f

.input2
  width: 334px
  height: 46px
  border-radius: 23px
  background-color: #e1e1e1
  border: none
  opacity: 0.67
  font-size: 14px
  line-height: 54px
  font-weight: 400
  letter-spacing: 0.025em
  color: #222224
  padding-left: 12px



